<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown mx-5">
            <a class="logo-font nav-link text-black mr-5 small" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                ALL MENSWEAR
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item text-black mr-5 small">By price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item text-black mr-5 small ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item text-black mr-5 small">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item text-black mr-5 small">ALL MENSWEAR</a>
            </div>
        </li>

        <li class="nav-item dropdown mx-5">
            <a class="logo-font nav-link text-black mr-5 small" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                CLOTHING
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=tops" class="dropdown-item text-black mr-5 small">TOPS</a>
                <a href="{% url 'products' %}?category=trousers" class="dropdown-item text-black mr-5 small">TROUSERS</a>
                <a href="{% url 'products' %}?category=shorts" class="dropdown-item text-black mr-5 small">SHORTS</a>
                <a href="{% url 'products' %}?category=jackets" class="dropdown-item text-black mr-5 small">JACKETS</a>
                <a href="{% url 'products' %}?category=suits" class="dropdown-item text-black mr-5 small">SUITS</a>
                <a href="{% url 'products' %}?category=tops,trousers,shorts,jackets,suits" class="dropdown-item text-black mr-5 small">ALL CLOTHING</a>
            </div>
        </li>

        <li class="nav-item dropdown mx-5 small">
            <a class="logo-font nav-link text-black" href="#" id="accessories-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                ACCESSORIES
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="accessories-link">
                <a href="{% url 'products' %}?category=hats" class="dropdown-item text-black mr-5 small">HATS</a>
                <a href="{% url 'products' %}?category=sunglasses" class="dropdown-item text-black mr-5 small">SUNGLASSES</a>
                <a href="{% url 'products' %}?category=bags,wallets" class="dropdown-item text-black mr-5 small">BAGS &amp; WALLETS</a>
                <a href="{% url 'products' %}?category=belts" class="dropdown-item text-black mr-5 small">BELTS</a>
                <a href="{% url 'products' %}?category=shoes" class="dropdown-item text-black mr-5 small">SHOES</a>
                <a href="{% url 'products' %}?category=hats,sunglasses,bags,wallets,belts,shoes" class="dropdown-item text-black mr-5 small">ALL ACCESSORIES</a>
            </div>
        </li>
    </ul>
</div>