<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                ALL MENSWEAR
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">BY PRICE</a>
                <a href="" class="dropdown-item ">BY RATING</a>
                <a href="" class="dropdown-item ">BY CATEGORY</a>
                <a href="" class="dropdown-item">ALL MENSWEAR</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                CLOTHING
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="" class="dropdown-item">TOPS</a>
                <a href="" class="dropdown-item">TROUSERS</a>
                <a href="" class="dropdown-item">SHORTS</a>
                <a href="" class="dropdown-item">JACKETS</a>
                <a href="" class="dropdown-item">SUITS</a>
                <a href="" class="dropdown-item">ALL CLOTHING</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="accessories-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                ACCESSORIES
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">HATS</a>
                <a href="" class="dropdown-item">SUNGLASSES</a>
                <a href="" class="dropdown-item">BAGS &amp; WALLETS</a>
                <a href="" class="dropdown-item">BELTS</a>
                <a href="" class="dropdown-item">SHOES</a>
                <a href="" class="dropdown-item">ALL ACCESSORIES</a>
            </div>
        </li>
    </ul>
</div>